# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ---- Virtual Environments ----
venv/
.env/



# ---- Results & Outputs ----
results/
pp/

# ---- Backups ----
Walmart_Project_backup/

# ---- OS ----
.DS_Store


data/store_history.csv
